<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
    <ion-item>
      <ion-label position="floating">Nombre completo</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Seleccionar Rol</ion-label>
      <ion-select formControlName="role" placeholder="Seleccione un rol">
        <ion-select-option value="admin">Administrador</ion-select-option>
        <ion-select-option value="profesor">Profesor</ion-select-option>
        <ion-select-option value="alumno">Alumno</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="empty" type="submit" [disabled]="registerForm.invalid">Registrarse</ion-button>
    <ion-button expand="empty" fill="outline" routerLink="/login">Ya tengo una cuenta</ion-button>
  </form>
</ion-content>
