<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Bienvenido {{ userRole}}</h2>

  <!-- Contenido exclusivo para Administrador -->
  <ng-container *ngIf="userRole === 'admin'">
    <ion-button routerLink="/admin-dashboard">Dashboard de Admin</ion-button>
    <ion-button routerLink="/admin-clases">Gestión de Usuarios</ion-button>
  </ng-container>

  <!-- Contenido exclusivo para Profesor -->
  <ng-container *ngIf="userRole === 'profesor'">
    <ion-button routerLink="/asignaturas">Asignaturas</ion-button>
  </ng-container>

  <!-- Contenido exclusivo para Alumno -->
  <ng-container *ngIf="userRole === 'alumno'">
    <ion-button routerLink="/misclases">MisClases</ion-button>
  </ng-container>
</ion-content>

