<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <span>Cerrar sesión</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Bienvenido {{ userRole}}</h2>

  <!-- Contenido exclusivo para Administrador -->
  <ng-container *ngIf="userRole === 'admin'">
    <ion-button routerLink="/admin-dashboard">Dashboard de Admin</ion-button>
    <ion-button routerLink="/admin-users">Gestión de Usuarios</ion-button>
  </ng-container>

  <!-- Contenido exclusivo para Profesor -->
  <ng-container *ngIf="userRole === 'profesor' || userRole === 'admin'">
    <ion-button routerLink="/profesor-clases">Mis Clases</ion-button>
    <ion-button routerLink="/profesor-asistencia">Registro de Asistencia</ion-button>
  </ng-container>

  <!-- Contenido exclusivo para Alumno -->
  <ng-container *ngIf="userRole === 'alumno' || userRole === 'admin'">
    <ion-button routerLink="/alumno-clases">Mis Clases</ion-button>
    <ion-button routerLink="/alumno-asistencia">Historial de Asistencia</ion-button>
  </ng-container>
</ion-content>
