<ion-header>
  <ion-toolbar>
    <ion-title>Escaneo de Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Botón de escaneo solo si el dispositivo es compatible -->
  <ion-button *ngIf="isSupported" (click)="scan()">Escanear Código QR</ion-button>
  <p *ngIf="!isSupported">El escaneo de códigos QR no es compatible en este dispositivo.</p>

  <!-- Lista de códigos escaneados -->
  <div *ngFor="let barcode of barcodes">
    <p>Tipo: {{ barcode.format }}</p>
    <p>Valor: {{ barcode.rawValue }}</p>
  </div>
</ion-content>
